
     <footer class="site-footer">
        <div class="container">
             <div class="row">
                  

                  <div class="col-lg-6 mx-lg-auto text-center col-md-8 col-12">
                       <p class="copyright-text text-white text-center">
                            Copyright &copy; TheModelClub.All rights reserved.
                            
                            <!-- <a rel="nofollow noopener" href="https://templatemo.com">Design: TemplateMo</a> -->
                       </p>
                  </div>


                 
                 
             </div>
             <p style="text-align: center; color: white;">Designed and Developed by</p>
             <div class="row" style="color: white; font-size: 1.05rem; flex-wrap: wrap-reverse; justify-content: center;">
                  
                  <div style="padding-right: 5px;">
                       <a href="https://www.linkedin.com/in/sakshi-kumari-73aa70207/" style="color: #f19011;">Sakshi Kumari</a>

                  </div>
                  <div style="padding-left: 5px;">
                       <a href="https://www.linkedin.com/in/gourav-sonkar-12993a1a5/" style="color: #f19011;">  Gourav Sonkar</a>

                  </div>

             </div>
        </div>
   </footer>
