<!DOCTYPE html>
<html lang="en">
  <head>
    <title>AdWARtise</title>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1"
    />

    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/aos.css" />
    <link rel="stylesheet" href="css/owl.carousel.min.css" />
    <link rel="stylesheet" href="css/owl.theme.default.min.css" />

    <!-- MAIN CSS -->
    <link rel="stylesheet" href="css/templatemo-digital-trend.css" />
  </head>

  <body>
    <!-- MENU BAR -->
    <nav id="nav" class="navbar navbar-expand-lg">
      <img class="logo1" src="./images/bitlogo.png" alt="" />
      <img class="logo2" src="./images/Clogo.png" alt="" />
      <div class="container">
        <!-- <img src="/images/Clogo.png" alt="" style="height: 200px;"> -->
        <a class="navbar-brand" href="#">
          <!-- <img src="/images/Clogo.png" alt=""> -->
          <!-- <i class="fa fa-line-chart"></i> -->
          <!-- <img src="/images/Clogo.png" alt=""> -->
          Model Club
        </a>

        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a href="#nav" class="nav-link smoothScroll">Home</a>
            </li>
            <li class="nav-item">
              <a href="#about" class="nav-link smoothScroll">About</a>
            </li>
            <li class="nav-item">
              <a href="/live" class="nav-link">Hunt-Down</a>
            </li>
            <li class="nav-item">
              <a href="/login" class="nav-link contact">Login</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- HERO -->
    <section
      id="home"
      class="hero hero-bg d-flex justify-content-center align-items-center"
    >
      <div class="container">
        <div class="row">
          <div
            id="up"
            class="col-lg-6 col-md-10 col-12 d-flex flex-column justify-content-center align-items-center"
          >
            <div class="hero-text">
              <h1 id="addwartise" class="text-white" data-aos="fade-up">
                Ad<span style="color: rgb(236, 159, 15)">WAR</span>tise
              </h1>
              <p
                id="small"
                class="d-block py-3 pl-10 text-white"
                data-aos="fade-up"
                data-aos-delay="200"
              >
                Create to Accelerate
              </p>

              <a
                href="/register"
                class="custom-btn btn-bg btn mt-3"
                data-aos="fade-up"
                data-aos-delay="100"
                >REGISTER NOW!</a
              >
            </div>
          </div>

          <div class="col-lg-6 col-12">
            <div class="hero-image" data-aos="fade-up" data-aos-delay="300">
              <img
                src="images/working-girl.png"
                class="img-fluid"
                alt="working girl"
              />
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- ABOUT -->
    <section class="about section-padding pb-0" id="about">
      <p
        data-aos="fade-up"
        style="
          margin-bottom: 5rem;
          font-size: 4rem;
          color: #e08309;
          text-align: center;
        "
      >
        <span style="color: black">Our</span> Organisers
      </p>
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-10 col-12">
            <div class="about-info">
              <h2 class="mb-4" data-aos="fade-up">
                <strong>Model Club</strong> is an attempt to manifest the
                technical mind set, personality development and success stories
                of this Premier Technical Institution of Jharkhand.
              </h2>

              <p class="mb-0">
                Established in early 70s, this club is on the way to scaling new
                heights every year continuously by organizing various technical
                events.
              </p>
              <p>
                Model Club members are trained to excel at professional
                capacities through methods which are prerequisites for
                personality development, in the weekly rendezvous. Presently,
                Model Club members indulge in the execution of the technical
                revolution in the campus. Round the year, Model Club organizes
                Workshops, Seminars, Guest-Lectures, Invited Talks and alike
                events including a Mega Tech-Fest named
                <strong style="font-size: 1.3rem; font-weight: 400"
                  >SANDHAAN.</strong
                >
              </p>
            </div>

            <div class="about-image" data-aos="fade-up" data-aos-delay="200">
              <img src="images/office.png" class="img-fluid" alt="office" />
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- PROJECT -->
    <section class="project section-padding" id="project">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12 col-12">
            <p
              class="mb-5 text-center"
              style="font-size: 4rem"
              data-aos="fade-up"
            >
              About
              <strong>AdWARtise</strong>
            </p>
            <p id="about-text">
              It's that time of the year again when we are back with its
              one-of-a-kind competition for advertising enthusiasts AdWARtise.
              An event where you'll witness a battle of ideas, a battle of
              brands, a battle of ads for the provided companies for its image
              and value upliftment, to prove loyalty towards its customers.
              <br />
              <br />
              A competition designed to tickle your creative nerves and test
              your thought process by creating advertising posters for companies
              listed by us. An opportunity to sharpen your skills in
              highly-valued areas of creativity like Graphic designing and
              Advertising.
            </p>
          </div>
        </div>
      </div>
    </section>

    <!-- TESTIMONIAL -->
    <section class="testimonial section-padding">
      <div class="container">
        <div class="row">
          <!-- <div class="col-lg-6 col-md-5 col-12">
                         <div class="contact-image" data-aos="fade-up">
                              <img src="images/female-avatar.png" class="img-fluid" alt="website" />
                         </div>
                    </div> -->

          <div class="col-lg-12 col-md-7 col-12 text-center">
            <h2
              class="my-5"
              style="font-size: 4rem"
              data-aos="fade-up"
              data-aos-delay="100"
            >
              Our <span style="color: #f19011">Partners</span>
            </h2>
          </div>
          <div class="col-lg-12 col-12" id="tiwari">
            <h1 id="tiwari2" style="text-align: center">Title Sponsor</h1>
            <img id="sponsor4" src="./images/Logogogo1.png" alt="" />
          </div>
          <div class="col-lg-12 col-12">
            <h1 style="text-align: center">Knowledge Partner</h1>
            <!-- <img style="width: 20rem;" src="./images/GFG LOGO-3.png" alt=""> -->
            <a href="https://www.geeksforgeeks.org/">
              <img id="sponsor1" src="./images/gfglogo1.png" alt="" />
            </a>
          </div>
          <div class="col-lg-12 col-12">
            <h1 style="text-align: center">Education Partner</h1>
            <a href="https://www.codingninjas.com/">
              <img id="sponsor2" src="./images/CN-JPEG.jpg" alt="" />
            </a>
          </div>
          <div class="col-lg-12 col-12" id="task">
            <h1 style="text-align: center">Communication Partner</h1>
            <a href="https://www.taskade.com/">
              <img id="sponsor3" src="./images/taskade-brand.png" alt="" />
            </a>
          </div>
        </div>
      </div>
    </section>

    <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 mx-lg-auto text-center col-md-8 col-12">
            <p class="copyright-text text-white text-center">
              Copyright &copy; TheModelClub.All rights reserved.

              <!-- <a rel="nofollow noopener" href="https://templatemo.com">Design: TemplateMo</a> -->
            </p>
          </div>
        </div>
        <p style="text-align: center; color: white">
          Designed and Developed by
        </p>
        <div
          class="row"
          style="
            color: white;
            font-size: 1.05rem;
            flex-wrap: wrap-reverse;
            justify-content: center;
          "
        >
          <div style="padding-right: 5px">
            <a
              href="https://www.linkedin.com/in/sakshi-kumari-73aa70207/"
              style="color: #f19011"
              >Sakshi Kumari</a
            >
          </div>
          <div style="padding-left: 5px">
            <a
              href="https://www.linkedin.com/in/gourav-sonkar-12993a1a5/"
              style="color: #f19011"
            >
              Gourav Sonkar</a
            >
          </div>
        </div>
      </div>
    </footer>

    <!-- SCRIPTS -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/aos.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/smoothscroll.js"></script>
    <script src="js/custom.js"></script>
  </body>
</html>
