<!DOCTYPE html>
<html lang="en">

<head>
  <title>AdWARtise</title>
  <!--
DIGITAL TREND
https://templatemo.com/tm-538-digital-trend
-->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.8.1/lottie.min.js"></script>

  <link rel="stylesheet" href="./css/bootstrap.min.css">
  <link rel="stylesheet" href="./css/font-awesome.min.css">
  <link rel="stylesheet" href="./css/aos.css">
  <link rel="stylesheet" href="./css/owl.carousel.min.css">
  <link rel="stylesheet" href="./css/owl.theme.default.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">

  <!-- MAIN CSS -->
  <link rel="stylesheet" href="./css/templatemo-digital-trend.css">
  <link rel="stylesheet" href="./css/hunt.css">

</head>

<body>

  <!-- MENU BAR -->
  <nav class="navbar navbar-expand-lg position-absolute">
    <img class="logo1" src="../images/bitlogo.png" alt="">
    <img class="logo2" src="../images/Clogo.png" alt="">
    <div class="container">
      <a class="navbar-brand" href="#">
        <!-- <i class="fa fa-line-chart"></i> -->
        Model Club
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="/" class="nav-link">Home</a>
          </li>
          <li class="nav-item">
            <a href="/#about" class="nav-link">About</a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link contact"><%= teamname %></a>
       </li>
          <!-- <li class="nav-item">
            <a href="contact.html" class="nav-link contact">Contact</a>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>


  <!-- BLOG -->
  <section class="blog section-padding">
   
    <div class="container">
      <div class="row">

        <div class="col-lg-12 col-12 py-5 mt-5 mb-3 text-center">

          <h1 class="mb-4" id="hunt" data-aos="fade-up">Hunt-<span style="color: #f19011;">Down</span>
          </h1>
          <!-- <h2 class="mb-4" data-aos="fade-up">Hunt-Down</h2> -->
        </div>

        <div id="lottie1" style="max-width: 550px; height: auto; min-width: 100px; position: relative; bottom: 50px;"
          class="col-lg-7 col-md-7 col-12 mb-4">
          <!-- <div class="blog-header" data-aos="fade-up" data-aos-delay="100">
                        <img src="images/blog/blog-header-image.jpg" class="img-fluid" alt="blog header">

                        <div class="blog-header-info">
                          <h4 class="blog-category text-info">Creative</h4>

                          <h3><a href="blog-detail.html">The Key to Creative Work is Knowing When to Walk Away</a></h3>
                        </div>
                      </div> -->

        </div>

        <div class="col-lg-6 col-md-5 col-12 mb-4">
          <h2>Rules for this round-</h2>
          <div class="blog-sidebar d-flex py-4" data-aos="fade-up"
            data-aos-delay="200">
            <!-- <img src="images/blog/blog-sidebar-image.jpg" class="img-fluid" alt="blog"> -->

            <div class="blog-info">
              <h4 class="blog-category">1.  This section contains 15 questions.</h4>

            
            </div>
          </div>

          <div class="blog-sidebar py-4 d-flex justify-content-center align-items-center" data-aos="fade-up"
            data-aos-delay="150">
            <!-- <img src="images/blog/blog-sidebar-image01.jpg" class="img-fluid" alt="blog"> -->

            <div class="blog-info">
              <h4 class="blog-category">2.  A total of one hour will be provided to submit the answers.</h4>

              <!-- <h3><a href="blog-detail.html">Be Humble About What You Know</a></h3> -->
            </div>
          </div>

          <div class="blog-sidebar py-4 d-flex justify-content-center align-items-center" data-aos="fade-up"
            data-aos-delay="150">
            <!-- <img src="images/blog/blog-sidebar-image02.jpg" class="img-fluid" alt="blog"> -->

            <div class="blog-info">
              <h4 class="blog-category">3.  Hover over the cards to answer the questions.</h4>

              <!-- <h3><a href="blog-detail.html">The Mistakes I Made As a Coding Beginner</a></h3> -->
            </div>
          </div>

        </div>

        <!-- <div class="col-lg-5 ml-auto mt-5 pt-5 col-md-6 col-12">

                      <img src="images/newsletter.png" data-aos="fade-up" data-aos-delay="100" class="img-fluid" alt="newsletter">
                    </div>

                    <div class="col-lg-5 mr-auto mt-5 pt-5 col-md-6 col-12 newsletter-form">
                      <h4 data-aos="fade-up" data-aos-delay="200">Email Newsletter</h4>

                      <h2 data-aos="fade-up" data-aos-delay="300">Let’s stay up-to-date. We'll share you all good stuffs.</h2>
                      <form action="#" method="get" enctype="multipart/form-data">
                      <div class="form-group mt-4" data-aos="fade-up" data-aos-delay="400">
                        <input name="email" type="email" class="form-control" 
                        		id="email" aria-describedby="emailHelp" placeholder="Please enter your email" required>

                        <small id="emailHelp" class="form-text text-muted">We'll NOT share your email address to anyone else.</small>

                      </div>

                      <div class="form-group form-check" data-aos="fade-up" data-aos-delay="500">
                        <input name="monthly" type="checkbox" class="form-check-input" id="monthly">

                        <label class="form-check-label" for="monthly">Please send me a monthly newsletter.</label>
                      </div>

                        <button type="submit" data-aos="fade-up" data-aos-delay="500" class="btn w-100 mt-3">Sign up</button>
                      </form>
                    </div> -->

      </div>
    </div>
  </section>
<h1 style="text-align: center;">BUCKLE UP!</h1>
  <section>
    <form action="/answer" method="post">
    <div class="cards">


      <div class="container2">

        <div class="row">

          <div class="column" style="padding-top:40px">
            <div class="card">
              <div class="content">
                <div class="front">
                  <h2>Question 01</h2>
                  <img class="profile" width="100%"
                    src="../images/4.jpg"
                    alt="Neymar">
                  
                </div>
                <div class="back from-left">
                  
                  <h3>This is a beverage company. Initially, it was sold at the pharmacies as a fountain drink. It was also one of the associate sponsors of Delhi Daredevils in the year 2008.</h3>
                  <!-- <img class="tem-img"
                    src="https://github.com/free-source-code-bd/all-public-resource/blob/main/psg.jpg?raw=true" alt="">
                  &nbsp;
                  <img class="tem-img"
                    src="https://github.com/free-source-code-bd/all-public-resource/blob/main/bra.jpg?raw=true" alt="">
                  <br> -->
                  
                  <div style="margin-top: 2rem;">
                    <input type="text" name="answer[0]" placeholder="Type Answer" style="border: 2.5px solid #057a8d; border-radius: 5px; height: 50px; width: 200px;">
                  </div>
                  <!-- <ul class="social-icon">
                    <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href=""><i class="fab fa-instagram"></i></a></li>
                    <li><a href=""><i class="fab fa-twitter"></i></a></li>
                  </ul> -->
                </div>
              </div>
            </div>
          </div>
          <div class="column" style="padding-top:40px">
            <div class="card">
              <div class="content">
                <div class="front">
                  <h2>Question 02</h2>
                  <img class="profile" width="100%"
                    src="../images/2.jpg"
                    alt="Neymar">
                  
                </div>
                <div class="back from-left">
                  
                  <h3>BBK electronics has been the parent company of this brand. The founder of NOTHING is also the co-founder of this brand.</h3>
                  <!-- <img class="tem-img"
                    src="https://github.com/free-source-code-bd/all-public-resource/blob/main/psg.jpg?raw=true" alt="">
                  &nbsp;
                  <img class="tem-img"
                    src="https://github.com/free-source-code-bd/all-public-resource/blob/main/bra.jpg?raw=true" alt="">
                  <br> -->
                  
                  <div style="margin-top: 2rem;">
                    <input type="text" name="answer[1]" placeholder="Type Answer" style="border: 2.5px solid #057a8d; border-radius: 5px; height: 50px; width: 200px;">
                  </div>
                  <!-- <ul class="social-icon">
                    <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href=""><i class="fab fa-instagram"></i></a></li>
                    <li><a href=""><i class="fab fa-twitter"></i></a></li>
                  </ul> -->
                </div>
              </div>
            </div>
          </div>
          <div class="column" style="padding-top:40px">
            <div class="card">
              <div class="content">
                <div class="front">
                  <h2>Question 03</h2>
                  <img class="profile" width="100%"
                    src="../images/3.jpg"
                    alt="Neymar">
                 
                </div>
                <div class="back from-left">
                  
                  <h3>This brand is known for its unique advertisements which entertained everyone during the pandemic. It is a credit card bill payment platform that rewards its members for clearing their credit card bills on time.</h3>
                  <!-- <img class="tem-img"
                    src="https://github.com/free-source-code-bd/all-public-resource/blob/main/psg.jpg?raw=true" alt="">
                  &nbsp;
                  <img class="tem-img"
                    src="https://github.com/free-source-code-bd/all-public-resource/blob/main/bra.jpg?raw=true" alt="">
                  <br> -->
                  
                  <div style="margin-top: 2rem;">
                    <input type="text" name="answer[2]" placeholder="Type Answer" style="border: 2.5px solid #057a8d; border-radius: 5px; height: 50px; width: 200px;">
                  </div>
                  <!-- <ul class="social-icon">
                    <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href=""><i class="fab fa-instagram"></i></a></li>
                    <li><a href=""><i class="fab fa-twitter"></i></a></li>
                  </ul> -->
                </div>
              </div>
            </div>
          </div>



          <div class="column" style="padding-top:40px">
            <div class="card">
              <div class="content">
                <div class="front">
                  <h2>Question 04</h2>
                  <img class="profile" width="100%"
                    src="../images/2.jpg"
                    alt="Neymar">
                  
                </div>
                <div class="back from-left">
                  
                  <h3>This brand shares its name with the name of the home planet of the famous villain “THANOS” from the MARVEL franchise.</h3>
                  <!-- <img class="tem-img"
                    src="https://github.com/free-source-code-bd/all-public-resource/blob/main/psg.jpg?raw=true" alt="">
                  &nbsp;
                  <img class="tem-img"
                    src="https://github.com/free-source-code-bd/all-public-resource/blob/main/bra.jpg?raw=true" alt="">
                  <br> -->
                  
                  <div style="margin-top: 2rem;">
                    <input type="text" name="answer[3]" placeholder="Type Answer" style="border: 2.5px solid #057a8d; border-radius: 5px; height: 50px; width: 200px;">
                  </div>
                  <!-- <ul class="social-icon">
                    <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href=""><i class="fab fa-instagram"></i></a></li>
                    <li><a href=""><i class="fab fa-twitter"></i></a></li>
                  </ul> -->
                </div>
              </div>
            </div>
          </div>
          <div class="column" style="padding-top:40px">
            <div class="card">
              <div class="content">
                <div class="front">
                  <h2>Question 05</h2>
                  <img class="profile" width="100%"
                    src="../images/4.jpg"
                    alt="Neymar">
                  
                </div>
                <div class="back from-left">
                  
                  <h3>Two famous brands come from the same family in Germany. Originally known as RUDA, its present name is the same as the common name of the species COUGAR.</h3>
                  <!-- <img class="tem-img"
                    src="https://github.com/free-source-code-bd/all-public-resource/blob/main/psg.jpg?raw=true" alt="">
                  &nbsp;
                  <img class="tem-img"
                    src="https://github.com/free-source-code-bd/all-public-resource/blob/main/bra.jpg?raw=true" alt="">
                  <br> -->
                  
                  <div style="margin-top: 2rem;">
                    <input type="text" name="answer[4]" placeholder="Type Answer" style="border: 2.5px solid #057a8d; border-radius: 5px; height: 50px; width: 200px;">
                  </div>
                  <!-- <ul class="social-icon">
                    <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href=""><i class="fab fa-instagram"></i></a></li>
                    <li><a href=""><i class="fab fa-twitter"></i></a></li>
                  </ul> -->
                </div>
              </div>
            </div>
          </div>
          <div class="column" style="padding-top:40px">
            <div class="card">
              <div class="content">
                <div class="front">
                  <h2>Question 06</h2>
                  <img class="profile" width="100%"
                    src="../images/3.jpg"
                    alt="Neymar">
                  
                </div>
                <div class="back from-left">
                  
                  <h3>This brand was originally started as a competitor to “BLOCKBUSTER VIDEO” as a home delivery service for cassettes and CDs.</h3>
                  <!-- <img class="tem-img"
                    src="https://github.com/free-source-code-bd/all-public-resource/blob/main/psg.jpg?raw=true" alt="">
                  &nbsp;
                  <img class="tem-img"
                    src="https://github.com/free-source-code-bd/all-public-resource/blob/main/bra.jpg?raw=true" alt="">
                  <br> -->
                  
                  <div style="margin-top: 2rem;">
                    <input type="text" name="answer[5]" placeholder="Type Answer" style="border: 2.5px solid #057a8d; border-radius: 5px; height: 50px; width: 200px;">
                  </div>
                
                </div>
              </div>
            </div>
          </div>

          <div class="column" style="padding-top:40px">
            <div class="card">
              <div class="content">
                <div class="front">
                  <h2>Question 07</h2>
                  <img class="profile" width="100%"
                    src="../images/4.jpg"
                    alt="Neymar">
                  
                </div>
                <div class="back from-left">
                 
                  <h3>This is a popular social media app which is used by people to share their opinions publicly. This brand has recently appointed a new CEO of Indian origin.</h3>
                  <!-- <img class="tem-img"
                    src="https://github.com/free-source-code-bd/all-public-resource/blob/main/psg.jpg?raw=true" alt="">
                  &nbsp;
                  <img class="tem-img"
                    src="https://github.com/free-source-code-bd/all-public-resource/blob/main/bra.jpg?raw=true" alt="">
                  <br> -->
                 
                  <div style="margin-top: 2rem;">
                    <input type="text" name="answer[6]" placeholder="Type Answer" style="border: 2.5px solid #057a8d; border-radius: 5px; height: 50px; width: 200px;">
                  </div>
                  <!-- <ul class="social-icon">
                    <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href=""><i class="fab fa-instagram"></i></a></li>
                    <li><a href=""><i class="fab fa-twitter"></i></a></li>
                  </ul> -->
                </div>
              </div>
            </div>
          </div>
          <div class="column" style="padding-top:40px">
            <div class="card">
              <div class="content">
                <div class="front">
                  <h2>Question 08</h2>
                  <img class="profile" width="100%"
                    src="../images/2.jpg"
                    alt="Neymar">
                  
                </div>
                <div class="back from-left">
                  
                  <h3>This brand was the title sponsor of the Indian Premier league for the 2020 edition. Its tagline is "Team hai to maza hai".</h3>
                  <!-- <img class="tem-img"
                    src="https://github.com/free-source-code-bd/all-public-resource/blob/main/psg.jpg?raw=true" alt="">
                  &nbsp;
                  <img class="tem-img"
                    src="https://github.com/free-source-code-bd/all-public-resource/blob/main/bra.jpg?raw=true" alt="">
                  <br> -->
                  
                  <div style="margin-top: 2rem;">
                    <input type="text" name="answer[7]" placeholder="Type Answer" style="border: 2.5px solid #057a8d; border-radius: 5px; height: 50px; width: 200px;">
                  </div>
                  <!-- <ul class="social-icon">
                    <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href=""><i class="fab fa-instagram"></i></a></li>
                    <li><a href=""><i class="fab fa-twitter"></i></a></li>
                  </ul> -->
                </div>
              </div>
            </div>
          </div>
          <div class="column" style="padding-top:40px">
            <div class="card">
              <div class="content">
                <div class="front">
                  <h2>Question 09</h2>
                  <img class="profile" width="100%"
                    src="../images/3.jpg"
                    alt="Neymar">
                   
                </div>
                <div class="back from-left">
                  
                  <h3>The brand name comes from the Sanskrit term 'Nayaka,' which means 'one who is in the spotlight.' It is one of the leading brands in women's fashion.</h3>
                  <!-- <img class="tem-img"
                    src="https://github.com/free-source-code-bd/all-public-resource/blob/main/psg.jpg?raw=true" alt="">
                  &nbsp;
                  <img class="tem-img"
                    src="https://github.com/free-source-code-bd/all-public-resource/blob/main/bra.jpg?raw=true" alt="">
                  <br> -->
                  
                  <div style="margin-top: 2rem;">
                    <input type="text" name="answer[8]" placeholder="Type Answer" style="border: 2.5px solid #057a8d; border-radius: 5px; height: 50px; width: 200px;">
                  </div>
                  <!-- <ul class="social-icon">
                    <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href=""><i class="fab fa-instagram"></i></a></li>
                    <li><a href=""><i class="fab fa-twitter"></i></a></li>
                  </ul> -->
                </div>
              </div>
            </div>
          </div>
          <div class="column" style="padding-top:40px">
            <div class="card">
              <div class="content">
                <div class="front">
                  <h2>Question 10</h2>
                  <img class="profile" width="100%"
                    src="../images/3.jpg"
                    alt="Neymar">
                  
                </div>
                <div class="back from-left">
                 
                  <h3>Initially called as FOODIEBAY, recently it had a great response for its Initial Public Offering (IPO). Name the brand.</h3>
                  <!-- <img class="tem-img"
                    src="https://github.com/free-source-code-bd/all-public-resource/blob/main/psg.jpg?raw=true" alt="">
                  &nbsp;
                  <img class="tem-img"
                    src="https://github.com/free-source-code-bd/all-public-resource/blob/main/bra.jpg?raw=true" alt="">
                  <br> -->
                  
                  <div style="margin-top: 2rem;">
                    <input type="text" name="answer[9]" placeholder="Type Answer" style="border: 2.5px solid #057a8d; border-radius: 5px; height: 50px; width: 200px;">
                  </div>
                  <!-- <ul class="social-icon">
                    <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href=""><i class="fab fa-instagram"></i></a></li>
                    <li><a href=""><i class="fab fa-twitter"></i></a></li>
                  </ul> -->
                </div>
              </div>
            </div>
          </div>
          <div class="column" style="padding-top:40px">
            <div class="card">
              <div class="content">
                <div class="front">
                  <h2>Question 11</h2>
                  <img class="profile" width="100%"
                    src="../images/2.jpg"
                    alt="Neymar">
                  
                </div>
                <div class="back from-left">
                  
                  <h3>The brand is a Swedish audio streaming and media services providing company, found in the year 2006. It is infamous for its irritating advertisements.</h3>
                  <!-- <img class="tem-img"
                    src="https://github.com/free-source-code-bd/all-public-resource/blob/main/psg.jpg?raw=true" alt="">
                  &nbsp;
                  <img class="tem-img"
                    src="https://github.com/free-source-code-bd/all-public-resource/blob/main/bra.jpg?raw=true" alt="">
                  <br> -->
                  
                  <div style="margin-top: 2rem;">
                    <input type="text" name="answer[10]" placeholder="Type Answer" style="border: 2.5px solid #057a8d; border-radius: 5px; height: 50px; width: 200px;">
                  </div>
                  <!-- <ul class="social-icon">
                    <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href=""><i class="fab fa-instagram"></i></a></li>
                    <li><a href=""><i class="fab fa-twitter"></i></a></li>
                  </ul> -->
                </div>
              </div>
            </div>
          </div>
          <div class="column" style="padding-top:40px">
            <div class="card">
              <div class="content">
                <div class="front">
                  <h2>Question 12</h2>
                  <img class="profile" width="100%"
                    src="../images/4.jpg"
                    alt="Neymar">
                  
                </div>
                <div class="back from-left">
                  
                  <h3>Guess the brand from the logo.</h3>
                  <img src="../images/nestle.jpg" style="width: 180px; margin-top: 8px;" alt="">
                  <!-- <img class="tem-img"
                    src="https://github.com/free-source-code-bd/all-public-resource/blob/main/psg.jpg?raw=true" alt="">
                  &nbsp;
                  <img class="tem-img"
                    src="https://github.com/free-source-code-bd/all-public-resource/blob/main/bra.jpg?raw=true" alt="">
                  <br> -->
                 
                  <div style="margin-top: 2rem;">
                    <input type="text" name="answer[11]" placeholder="Type Answer" style="border: 2.5px solid #057a8d; border-radius: 5px; height: 50px; width: 200px;">
                  </div>
                  <!-- <ul class="social-icon">
                    <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href=""><i class="fab fa-instagram"></i></a></li>
                    <li><a href=""><i class="fab fa-twitter"></i></a></li>
                  </ul> -->
                </div>
              </div>
            </div>
          </div>
          <div class="column" style="padding-top:40px">
            <div class="card">
              <div class="content">
                <div class="front">
                  <h2>Question 13</h2>
                  <img class="profile" width="100%"
                  src="../images/2.jpg"
                    alt="Neymar">
                  
                </div>
                <div class="back from-left">
                  <!-- <h2>Neymar</h2> -->
                 
                  <h3>This brand composed a song named as "Chalta rahe" for boosting its sales. Name the brand.</h3>
                  <!-- <img class="tem-img"
                    src="https://github.com/free-source-code-bd/all-public-resource/blob/main/psg.jpg?raw=true" alt="">
                  &nbsp;
                  <img class="tem-img"
                    src="https://github.com/free-source-code-bd/all-public-resource/blob/main/bra.jpg?raw=true" alt="">
                  <br> -->
                  
                  <div style="margin-top: 2rem;">
                    <input type="text" name="answer[12]" placeholder="Type Answer" style="border: 2.5px solid #057a8d; border-radius: 5px; height: 50px; width: 200px;">
                  </div>
                  <!-- <ul class="social-icon">
                    <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href=""><i class="fab fa-instagram"></i></a></li>
                    <li><a href=""><i class="fab fa-twitter"></i></a></li>
                  </ul> -->
                </div>
              </div>
            </div>
          </div>
          <div class="column" style="padding-top:40px">
            <div class="card">
              <div class="content">
                <div class="front">
                  <h2>Question 14</h2>
                  <img class="profile" width="100%"
                    src="../images/4.jpg"
                    alt="Neymar">
                  
                </div>
                <div class="back from-left">
                  
                  <h3>This brand was founded as a proprietary trading firm in 2008 and was formerly known as RKSV Securities.</h3>
                  <!-- <img class="tem-img"
                    src="https://github.com/free-source-code-bd/all-public-resource/blob/main/psg.jpg?raw=true" alt="">
                  &nbsp;
                  <img class="tem-img"
                    src="https://github.com/free-source-code-bd/all-public-resource/blob/main/bra.jpg?raw=true" alt="">
                  <br> -->
                  
                  <div style="margin-top: 2rem;">
                    <input type="text" name="answer[13]" placeholder="Type Answer" style="border: 2.5px solid #057a8d; border-radius: 5px; height: 50px; width: 200px;">
                  </div>
                  <!-- <ul class="social-icon">
                    <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href=""><i class="fab fa-instagram"></i></a></li>
                    <li><a href=""><i class="fab fa-twitter"></i></a></li>
                  </ul> -->
                </div>
              </div>
            </div>
          </div>
          <div class="column" style="padding-top:40px">
            <div class="card">
              <div class="content">
                <div class="front">
                  <h2>Question 15</h2>
                  <img class="profile" width="100%"
                  src="../images/3.jpg"
                    alt="Neymar">
                  
                </div>
                <div class="back from-left">
                 
                  <h3>The first Indian telecom service provider to achieve CISCO gold certification. It is the third largest mobile operator in the world by subscriber base and has commercial presence in 17 countries. Name the brand.</h3>
                  <!-- <img class="tem-img"
                    src="https://github.com/free-source-code-bd/all-public-resource/blob/main/psg.jpg?raw=true" alt="">
                  &nbsp;
                  <img class="tem-img"
                    src="https://github.com/free-source-code-bd/all-public-resource/blob/main/bra.jpg?raw=true" alt="">
                  <br> -->
                  
                  <div style="margin-top: 2rem;">
                    <input type="text" name="answer[14]" placeholder="Type Answer" style="border: 4px solid #057a8d; border-radius: 5px; height: 50px; width: 200px;">
                  </div>
                  <!-- <ul class="social-icon">
                    <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href=""><i class="fab fa-instagram"></i></a></li>
                    <li><a href=""><i class="fab fa-twitter"></i></a></li>
                  </ul> -->
                </div>
              </div>
            </div>
          </div>

          <input type="text" class="disabled mt-4 text-center hidden" name="time" id="time">

          <!-- <div class="column">
              <div class="card">
                <div class="content">
                  <div class="front">
                    <img class="profile" width="100%" src="https://github.com/free-source-code-bd/all-public-resource/blob/main/cr7.jpg?raw=true" alt="Ronaldo">
                    <h2>Cristiano Ronaldo</h2>
                  </div>
                  <div class="back from-bottom">
                    <h2>Cristiano Ronaldo</h2>
                    <h3>7</h3>
                    <h3>JUV | POR</h3>
                    <img class="tem-img" src="https://github.com/free-source-code-bd/all-public-resource/blob/main/juv.jpg?raw=true" alt=""> &nbsp;
                    <img class="tem-img" src="https://github.com/free-source-code-bd/all-public-resource/blob/main/port.jpg?raw=true" alt="">  <br>
                    <p class="des">
                      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea, in animi doloribus reprehenderit debitis voluptas pariatur eaque! Rem, accusamus tempora?
                    </p>
                    <ul class="social-icon">
                      <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                      <li><a href=""><i class="fab fa-instagram"></i></a></li>
                      <li><a href=""><i class="fab fa-twitter"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
        
        
        
            
            
                <div class="column">
              <div class="card">
                <div class="content">
                  <div class="front">
                    <img class="profile" width="100%" src="https://github.com/free-source-code-bd/all-public-resource/blob/main/messi.jpg?raw=true" alt="Messi">
                    <h2>Lionel Messi</h2>
                  </div>
                  <div class="back from-right">
                    <h2>Lionel Messi</h2>
                    <h3>10</h3>
                    <h3>BAR | ARG</h3>
                    <img class="tem-img" src="https://github.com/free-source-code-bd/all-public-resource/blob/main/f.jpg?raw=true" alt=""> &nbsp;
                    <img class="tem-img" src="https://github.com/free-source-code-bd/all-public-resource/blob/main/arg.jpg?raw=true" alt="">  <br>
                    <p class="des">
                      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea, in animi doloribus reprehenderit debitis voluptas pariatur eaque! Rem, accusamus tempora?
                    </p>
                    <ul class="social-icon">
                      <li><a href=""><i class="fab fa-facebook-f"></i></a></li>
                      <li><a href=""><i class="fab fa-instagram"></i></a></li>
                      <li><a href=""><i class="fab fa-twitter"></i></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div> -->

        </div>
      </div>
      <br>
     
      <!-- <a target="_blank" href="https://insidethediv.com">Find Me</a> -->
    </div>
    <div class="col-lg-3 mx-auto col-7">
      <button
        type="submit"
        class="form-control btn btn-primary mb-3 mt-4"
        id="submit-button"
        name="submit"
      >
        Submit
      </button>
    </div>
  </form>
  </section>


  <footer class="site-footer">
    <div class="container">
      <div class="row">


        <div class="col-lg-6 mx-lg-auto text-center col-md-8 col-12">
          <p class="copyright-text text-white text-center">
            Copyright &copy; TheModelClub.All rights reserved.

            <!-- <a rel="nofollow noopener" href="https://templatemo.com">Design: TemplateMo</a> -->
          </p>
        </div>




      </div>
      <p style="text-align: center; color: white;">Designed and Developed by</p>
      <div class="row" style="color: white; font-size: 1.05rem; flex-wrap: wrap-reverse; justify-content: center;">
           
           <div style="padding-right: 5px;">
                <a href="https://www.linkedin.com/in/sakshi-kumari-73aa70207/" style="color: #f19011;">Sakshi Kumari</a>

           </div>
           <div style="padding-left: 5px;">
                <a href="https://www.linkedin.com/in/gourav-sonkar-12993a1a5/" style="color: #f19011;">  Gourav Sonkar</a>

           </div>

      </div>
    </div>
  </footer>


  <!-- lottie -->
  <script>

    var animation = bodymovin.loadAnimation({
      container: document.querySelector('#lottie1'),
      renderer: 'svg',
      loop: true,
      autoplay: true,
      path: "https://assets3.lottiefiles.com/packages/lf20_lgk0wqey.json"
    })
  </script>

  <!-- SCRIPTS -->
  <script src="./js/jquery.min.js"></script>
  <script src="./js/bootstrap.min.js"></script>
  <script src="./js/aos.js"></script>
  <script src="./js/owl.carousel.min.js"></script>
  <script src="./js/custom.js"></script>
  <script>
    const clearer = document.querySelector('#submit-button')
    const time = document.querySelector('#time');
    var q= 0;
    time.value=q;
    let timer = setInterval(()=>{
      time.value++;
    },1000);
    clearer.addEventListener('click',()=>{
      clearInterval();
      timer = null;
    })
  </script>
</body>

</html>