<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AdWARtise</title>
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/aos.css" />
    <link rel="stylesheet" href="css/owl.carousel.min.css" />
    <link rel="stylesheet" href="css/owl.theme.default.min.css" />

    <link rel="stylesheet" href="css/templatemo-digital-trend.css" />
  </head>
  <body>
    <nav id="nav" class="navbar navbar-expand-lg">
      <img class="logo1" src="./images/bitlogo.png" alt="" />
      <img class="logo2" src="./images/Clogo.png" alt="" />
      <div class="container">
        <!-- <img src="/images/Clogo.png" alt="" style="height: 200px;"> -->
        <a class="navbar-brand" href="#">
          <!-- <img src="/images/Clogo.png" alt=""> -->
          <!-- <i class="fa fa-line-chart"></i> -->
          <!-- <img src="/images/Clogo.png" alt=""> -->
          Model Club
        </a>

        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav"
          aria-controls="navbarNav"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a href="/" class="nav-link smoothScroll">Home</a>
            </li>
            <li class="nav-item">
              <a href="/#about" class="nav-link smoothScroll">About</a>
            </li>
            <li class="nav-item">
              <a href="#" class="nav-link contact">Test</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <section
      style="
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
      "
    >
      <div style="text-align: center">
        <img src="./images/tick.png" alt="" width="300" />
        <h1 style="font-size: 80px; color: #000; font-weight: 800">
          Thank You!
        </h1>
        <h3 style="font-size: 30px; color: #000; font-weight: 700">
          Your Form was successfully submitted
        </h3>
        <p style="color: gray">We'll contact you when a decision is made</p>
      </div>
    </section>
  </body>
</html>
